h2{
    color:  red;
}
span{
    color: coral;
}
.card{
    width: 400px;
    height: 500px;
    border:2px solid black;
    border-radius: 15px;
    margin: 15px;
}
img{
    width: 100%;
    border-radius: 15px 15px 0 0;

}
#pets{
    display: flex;
    justify-content: space-evenly;
}
h4 {
  text-align: right;
  color: #3c787e;
}
@media (max-width:375px) {
    #pets{
        flex-wrap: wrap;
    }
    
}